$color-1-group-1: rgb(250, 235, 215); /*header, section, footer*/
$color-2-group-1: rgb(39, 206, 55); /*header, nav*/
$color-3-group-1: rgb(90, 208, 102); /*botones*/
$color-4-group-1: rgb(153, 153, 153); /*body*/
$color-5-group-1: rgb(0, 0, 0); /*texto, enlaces, menu, bordes*/
$color-6-group-1: rgb(102, 102, 102); /*box shadow*/
$color-7-group-1: rgb(151, 150, 150); /*slider*/
$color-8-group-1: rgb(255, 255, 255); /*boton slider*/
$color-9-group-1: rgba(255, 255, 255, 0.7); /*boton slider*/
$color-10-group-1: rgb(13, 12, 12); /*enlaces dogs*/
$color-11-group-1: rgb(129, 129, 129); /*redes sociales*/
$color-12-group-1: rgb(43, 40, 38) /*formulario*/