$color-1-group-1: rgb(250, 235, 215); /*header, section, footer*/
$color-2-group-1: rgb(39, 206, 55); /*header, nav*/
$color-3-group-1: rgb(90, 208, 102); /*botones*/
$color-4-group-1: rgb(235, 235, 235); /*body*/
$color-5-group-1: rgb(0, 0, 0); /*texto, enlaces, menu, bordes*/
$color-6-group-1: rgb(102, 102, 102); /*box shadow*/
$color-7-group-1: rgb(151, 150, 150); /*slider*/
$color-8-group-1: rgb(255, 255, 255); /*boton slider*/
$color-9-group-1: rgba(255, 255, 255, 0.7); /*boton slider*/
$color-10-group-1: rgb(13, 12, 12); /*enlaces dogs*/
$color-11-group-1: rgb(129, 129, 129); /*redes sociales*/
$color-12-group-1: rgb(43, 40, 38); /*formulario*/
$color-13-group-1: rgb(36, 254, 65); /*color gradiente*/
$color-14-group-1: rgb(51, 51, 51); /*body darkMode*/
$color-15-group-1: rgb(77, 77, 77); /*darkMode*/
$color-16-group-1: rgb(116, 116, 116); /*cartDarkMode*/
$color-17-group-1: rgb(122, 194, 50); /*borderCardDarkMode*/