@import "colors";

/* INICIO HEADER */
header{
    background-color: $color-8-group-1;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* FIN HEADER */


/* INICIO LOGO */
h1 {
    height: 170px;
    font-family:'mifuente';
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    font-weight: 400;
    text-shadow: 0px 4px 4px $color-5-group-1;
    justify-content: center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 30px;
    
}
.decoracion_enlaces{
    text-decoration: none;
    color: $color-5-group-1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
span {
    color: $color-2-group-1;
}
/* FIN LOGO---------------------------- */

/* INICIO CARRITO DE COMPRAS -------------------*/
.btn_carrito{
    width: 25px;
    height: 25px;
    // background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-left: 310px;
    
}
/* FIN CARRITO DE COMPRAS ------------------------------------*/
/* INICIO NAV */
.enlaces {
    color: $color-5-group-1;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu {
    color: $color-5-group-1;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}

.dimensiones_icon{
    width: 25px;
    height: 25px;
}
.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: scale(2);
    transition: 0.4s;
    margin-right: 30px;
    margin-bottom: 9px;
}
.mostrar-menu {
    order:1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: $color-2-group-1;
}

#check{
    display: none;
}
/* FIN NAV */

/* INICIO DARMODE ------------------------------------*/

.container_modes{
    // border: solid black;
    width: 70px;
    height: 35px;
    display: inline-flex;
    margin-left: 20px;
    z-index: 2;
    justify-content: center;
}

.dark_mode{
    color: white;
    background-color: rgb(77, 77, 77);
    // border: solid rgb(122, 194, 50);
    // border-left: solid transparent;
    // border-right:solid transparent;
    // border-radius: 0px;
}

.dark_mode .card{
    color: rgb(0, 0, 0);
    background-color: rgb(116, 116, 116);
    border: solid rgb(122, 194, 50);
    
}
.dark_mode .color_redes{
    background-color: rgb(77, 77, 77);
}

#btn_dark_mode{
    // position: sticky;
    width: 25px;
    height: 20px;
    background-color: rgb(51, 51, 51);
    
    margin-left: 0px;
    border-bottom-left-radius: 99px;
    border-top-left-radius: 99px; 
    
    border-right-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:hover{
        
        border-right-color: transparent;
    }
}
#btn_white_mode{
    // position: sticky;
    
    width: 25px;
    height: 20px;
    margin-left: 0px;
    background-color: rgb(235, 235, 235);
    margin-left: 0;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    
    border-left-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    &:hover{
        
        border-left-color: transparent;
    }
}


/* INICIO RESPONSIVE */
@media(max-width: 1200px){
    /* RESPONSIVE HEADER */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        list-style:none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: $color-6-group-1;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index:100;
        transition: 0.8s;
        a{
            display: block;
            padding: 20px;
        }
    }

    
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu {
        right: 0;

    }

    .enlaces {
        color: $color-5-group-1;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        display: block;
    }

    /* FIN RESPONSIVE HEADER */
}


/* FIN RESPONSIVE */


